.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}
.blogText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogBody{
    float:left;
}
.contentActions{
    float:right;
}
.likeContainer, .commentButton{
    display:block;
}

.editable {
  position: relative;
  border: 1px solid grey;
  border-radius: 3px;
  background: #fff;
  border-color: #bd0f18;

}
